<nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top" style="background-color: black; font-size: 17px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" style="color: white;"><span
                    class="glyphicon glyphicon glyphicon-home" style="color: white;"></span>&nbsp;HOME</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thisnav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="thisnav">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dealer Management<b
                        class="caret"></b></a>
                    <ul id="dealer-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/dealerform/">Add Dealer Details</a></li>
                        <li><a href="/dealertable/">View Dealer Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales<b
                    class="caret"></b></a>
                <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                    <!-- <li><a href="/purchaseform/">New Purchase</a></li> -->
                    <li><a href="/monthly_sales_report/">View Sales</a></li>
                </ul>
            </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Medicine Management<b
                        class="caret"></b></a>
                    <ul id="med-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/medform/">Add Medicine Details</a></li>
                        <li><a href="/medtable/">View Medicine Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee Management<b
                        class="caret"></b></a>
                    <ul id="emp-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/empform/">Add Employee Details</a></li>
                        <li><a href="/emptable/">View Employee Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Billing<b class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/invoices/new">Generate Invoice</a></li>
                        <li><a href="/invoices">View Invoices History</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Purchase Information<b
                        class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <!-- <li><a href="/purchaseform/">New Purchase</a></li> -->
                        <li><a href="/purchasetable/">View All Purchases</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Logout<b class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/logoutview/">Logout</a></li>
                        
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Delivery Status<b class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/update_DeliveryStatus/">Update Delivery Status</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>